nav {
  display: flex;
  align-content: space-between
}

li {
  text-decoration: unset;
  color: unset;
}

li:hover {
  text-decoration: unset;
  color: unset;
}

li:active {
  text-decoration: unset;
  color: unset;
}
