@import 'src/variables.scss';
nav {
  display: flex;
  background-color: $bg-2;
  flex-flow:row;
  width: 100%;
  justify-content: space-between;
  align-items:center;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-bottom: 0.25rem solid $bg-3;
}

.title {
  margin-left:0.75rem;
  font-size:1rem;
  font-weight:700;
}

nav ul {
  list-style-type: none;
  display:flex;
  padding:0;
  margin:0;
  height:100%;
  margin-right:0.75rem;
}

nav li {
  font-size:0.8rem;
}

.navlink {
  cursor:pointer;
  height:2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display:flex;
  align-items:center;
  padding-left:0.5rem;
  padding-right:0.5rem;
}
nav li {
  padding:0;
  margin:0;
}

a{
  text-decoration: unset;
  color: unset;
}

.navlink:hover {
  text-decoration: unset;
  color: unset;
  background-color: $bg-3;
}

.navlink:active {
  text-decoration: unset;
  color: unset;
  background-color: #F1E0D4;
}
