@import 'src/variables.scss';

header {
  background-color: $bg-1;
  padding: 2rem;
}

header >* {
  margin:1rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts {
  max-width:55rem;
  width:100%;
  padding-bottom: 1px;
  margin: 2rem;
}

.post {
  background-color: $bg-2;
  padding: 0.75rem;
  margin-bottom: -1px;
  border: 1px solid $bg-4;
  cursor: pointer;
}

.post:hover {
  background-color: $bg-3;
}

.post:active {
  background-color: $bg-5;
}

.post-info {
  display:flex;
}
.post-info >* {
  background-color: $bg-3;
  border: 1px solid $bg-4;
  padding:0.25rem;
}

.post-info .name {
  margin-right:1rem;
}

.post-title {
  display: flex;
  justify-content:space-between;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.post >* {
  font-size:0.8rem;
}

.post h2 {
  font-size:1.2rem;
}

.post-title >* {
  margin:unset;
  padding:unset;
}

.post-social {
  color: $secondary;
}
